:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none;
	outline: none;
}

ul,
ol {
  list-style-type: none;
  list-style-position: inside;
}

button,
input {
  background: none;
  color: inherit;
  font-family: inherit;
}

legend {
  float: left;
  width: 100%;
}
