:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
	margin: 0;
}


ul,
ol {
  list-style-type: none;
  list-style-position: inside;
}

button, input {
	background: none;
	border: none;
	outline: none;
}
